.widthMessage{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .widthMessage{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    };
    iframe{
        width: 50%;
    }
  }